<!doctype html>
<!-- By : Adi Putra Utama - 2018 -->
<html ng-app="myApp">
    <head>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var app = angular.module('myApp', []);
            app.controller('leftMenu', function($scope) {
                $scope.title = "List Category"; 
                $scope.menus = ["Fashion", "Electronic", "Sport", "Furniture", "Health", "Computer", "Smartphone"];
            });
            app.controller('rightMenu', function($scope) {
                $scope.title = "The Most Popular"; 
                $scope.menus = ["Fashion", "Electronic", "Sport", "Furniture", "Health", "Computer", "Smartphone"];   
            });

            var rows = <%-JSON.stringify(data)%>;
            var json = JSON.parse(rows);
            var res = JSON.parse(json);
            app.controller('getOneItem', function($scope) {
                $scope.get_data = res.result;
            });
        </script>
    </head>
   
    <body>
        <div class="row" style="margin: 20px 20px 20px 20px">
            <div class="col-md-3">
                <div class = "panel panel-primary" ng-controller="leftMenu">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">{{title}}</h3>
                    </div>
                    <div class = "panel-body">
                        <ul>
                            <li ng-repeat="menu in menus"><a href="#">{{menu}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7" ng-controller="getOneItem">
                <div class = "panel panel-primary">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">Detail Item</h3>
                    </div>
                    <div class = "panel-body">
                        <div class="row">
                            <div class="col-md-12" ng-repeat="data in get_data">
                                <center><img src="{{ data.gambar }}" height="300px" width="200px"></center> <br>
                                <table class="table">
                                    <tr>
                                        <td width=""><b>Merk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{data.nama}} </td>
                                    </tr>
                                    <tr>
                                        <td width=""><b>Harga &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{data.harga}} </td>
                                    </tr>
                                    <tr>
                                        <td width=""><b>Deskripsi :</b> {{data.deskripsi}} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class = "panel panel-primary" ng-controller="rightMenu">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">{{title}}</h3>
                    </div>
                    <div class = "panel-body">
                        <!-- <ul> -->
                            <div ng-repeat="menu in menus"><span class="label label-info">{{menu}}</span></div>
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>